<div class="card mt-5">
    <div class="card-header">Pridėti naują renginį</div>
    <div class="card-body">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="alert alert-danger" *ngIf="isError">
            Įvyko klaida
        </div>
        <form (ngSubmit)="addNewEvent(f)" #f="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Renginio pavadinimas</label>                
                <input type="text"
                       name="name"
                       id="name"
                       class="form-control"
                       [class.is-invalid]="!inputname.valid && inputname.touched"
                       [(ngModel)]="name"
                       required
                       minlength="2"
                       maxlength="128"
                       #inputname="ngModel">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Renginio aprašas</label>                
                <input type="text"
                       name="description"
                       id="description"
                       class="form-control"
                       [class.is-invalid]="!inputDescription.valid && inputDescription.touched"
                       [(ngModel)]="description"
                       required
                       minlength="2"
                       maxlength="1200"
                       #inputDescription="ngModel">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Renginio vieta</label>                
                <input type="text"
                       name="location"
                       id="location"
                       class="form-control"
                       [class.is-invalid]="!inputlocation.valid && inputlocation.touched"
                       [(ngModel)]="location"
                       required
                       minlength="2"
                       maxlength="128"
                       #inputlocation="ngModel">
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Data</label>                
                <input type="date"
                       name="date"
                       id="date"
                       class="form-control"
                       [class.is-invalid]="!inputDate.valid && inputDate.touched"
                       [(ngModel)]="date"
                       required
                       #inputDate="ngModel" />
            </div>
            <button class="btn btn-success" [disabled]="!f.valid">Pridėti</button>
        </form>
    </div>
</div>
